body {
    background: white url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    font-family: "Trebuchet MS",sans-serif;
}

div#container {
    width: 995px;
    height: 100%;
    margin: 2em auto 0 auto;
}

div#head-top {
    margin-bottom: 4px;
    margin-left: 12px;
}

div#menubar {
    background-color: black;
    height: 1.75em;
}

ul#menu-top {
    float: left;
    border: 0;
    list-style: none;
    padding: 0;
    margin: 0;
}
ul#menu-top a {
    padding: 0.3em 5px;
    text-decoration: none;
    color: inherit;
}
ul#menu-top li * { z-index: 5; text-align: left !important; }
ul#menu-top li {
    float: left;
    position: relative;
    color: white;
    text-align: center;
    border: 1px solid #ccc;
    background-color: black;
    width: calc(995px / 6);
    padding: 0.3em 5px;
    box-sizing: border-box;
}
ul#menu-top li:hover {
    color: black;
    background-color: #fbcf1d !important;
    cursor: default;
}
ul#menu-top li:hover > ul {
    display: block;
}

ul#menu-top li ul {
    border: 2px solid #fbcf1d;
}

ul#menu-top li li {
    background-color: #ddf2fd;
    color: black;
    width: 12.5em;
}

ul#menu-top li li.menuparent {
    background: url(../img/arrow-right.png) right center no-repeat;
    background-color: #ddf2fd;
}

ul#menu-top ul {
    display: none;
    position: absolute;
    padding: 0;
    margin: 5px -5px;
    list-style: none;
}

ul#menu-top > li {
    padding: 0.3em 5px;
    background: transparent url(../img/arrow-down.png) right center no-repeat;
}
/* Third level */
ul#menu-top li ul li ul {
    left: 12.5em;
    top: -1px;
}

ul#menu-left, ul#menu-left ul {
    list-style: none;
    border: none;
    padding: 0;
    text-align: left;
}
ul#menu-left > li { font-weight:bold; margin-top: 1em; margin-left: 0.5em; }
ul#menu-left ul li {
    list-style-image: url(../img/tri.gif);
    margin-left: 1em;
    font-weight: normal;
    font-size: 0.8em;
    padding: 0.2em 0.5em 0 0;
}
ul#menu-left a { text-decoration: none; color: inherit; border-bottom: 1px dotted gray; }

/* Home styles */
div#main-home {
    clear: both;
    position: relative;
    background-image: url(../img/background-home.jpg);
    margin-left: 12px;
}

div#background {
    position: absolute;
    float: left;
    z-index: -1;
    left: -8px;
    top: 8px;
    background-color: #AAAAAA;
    height: 100%;
    width: 990px;
}

span.home_title {
    border: 1px solid blue;
    color: blue;
    padding: 1px;
    margin-bottom: 0.5em;
}

div#banner {
    background-image: url(../img/banniere.jpg);
    background-repeat: no-repeat;
}

div.banner_text {
    color: white;
    font-weight: bold;
    font-style: italic;
}

div.banner_text_subpages {
    padding-top: 0.2em;
    margin: 15px 2em 0.2em 4em;
}

div.edit-icons {
    text-align: right;
}
div.edit-icons a {
  font-size: large;
  text-decoration: none;
  color: red;
}

table.agenda { width: 100%; border-spacing: 0 0.5em; }
table.agenda tr.item:not(:first-child) { border-top: 1px solid #7DB27D; }
table.agenda td.date, table.agenda td.title {
    width: 50%; font-size: 110%; padding: 0.5em;
    background-color: #89be89; color: black;
}
table.agenda td.date { white-space: nowrap; }
table.agenda td.title { font-weight: bold; font-style: italic; }
table.agenda td.description { padding-left: 2em; }
table.agenda h2 { font-size: 108%; margin: 1.2em 0 6px 0; }

/* Page styles */
div#leftbar {
    float: left;
    margin-top: 0.5em;
    width: 12em;
}

div#content {
    display: block;
    overflow: auto;
    margin-top: 1.5em;
    margin-left: 13em;
    padding: 0.6em 0.6em 1.5em 0.6em;
    background-color: #ddf2fd;
    border: 2px solid #fbcf1d;
}

div.event-summary { margin-top: 1em; }
