{% extends "page.html" %}

{% block title %}Erreur de serveur{% endblock %}

{% block content %}
  <h2>Erreur de serveur</h2>
  <p>Nous sommes désolés, une erreur de serveur s'est produite. L'administrateur du site a été informé et fera tout son possible pour la résoudre rapidement.</p>
{% endblock %}

{% block footer %}{% endblock %}
