{% load static mptt_tags %}
<DOCTYPE html>
<html>
<head>
  <meta name="description" content="Réseau d'activités dans les villages du Pied du Jura (villages de Apples, Ballens, Berolle, Bière, Bussy-Chardonney, Essertine-sur-Rolle, Gimel, Longirod, Marchissy, St- George, le Vaud, St-Oyens, Saubraz, Sévery, Pampigny, Mauraz, Montricher, L'Isle, Cossonay, Reverolle, Colombier, Vullierens, Mollens, Cuarnens, La Chaux, Mont la Ville, Senarclens, Grancy)">
  <title>{% block title %}{{ title }} | pieddujura.ch{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  {% block extra_head %}{% endblock %}
</head>

<body>
<div id="container">

  <div id="head-top">
    <strong>pied du jura.ch</strong>
  </div>

  {% block banner %}{% endblock %}
  <div id="menubar">
    <ul id="menu-top">
    {% recursetree pages %}
        <li {% if not node.is_leaf_node %}class="menuparent"{% endif %}>
            {% if node.parent %}<a href="{{ node.get_absolute_url }}">{% endif %}{{ node.get_menu_title }}{% if node.parent %}</a>{% endif %}
            {% if not node.is_leaf_node or node.slug == 'galerie' %}
                <ul class="children">
                    {% if node.slug == 'galerie' %}
                        {% for gal in galleries %}
                        <li><a href="{% url 'gallery' gal.slug %}">{{ gal.title }}</a></li>
                        {% endfor %}
                    {% endif %}
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
    </ul>
  </div>

  {% if messages %}
    <ul class="messagelist">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}
  {% block content %}{% endblock %}

  <div id="footer">
  {% block footer %}{% endblock %}
  </div>

</div>
</body>
</html>
