{% extends "base.html" %}

{% block title %}Bienvenue sur le site «Au pied du Jura»{% endblock %}

{% block content %}
  <div id="main-home">
    <div id="background">&nbsp;</div>
    <div>&nbsp;</div>
    <div id="prochain" style="margin: 3em 2em 1em 4em;">
      {% if next_event %}
      <span class="home_title">Prochain événement:</span>
      {{ next_event.start_date|date:"j.m.Y" }} <a href="{{ next_event.get_absolute_url }}">{{ next_event.title }}</a>
      {% endif %}
    </div>

    <div class="banner_text" style="margin: 11em 2em 25em 4em;">
        <p style="font-size: 4em;">Au pied du Jura...</p>
        <p style="margin-left: 4em; margin-top: 4em; font-size: 1.8em;">... un réseau d'activités au pied du Jura vaudois.</p>
    </div>
    &nbsp;
  </div>
{% endblock %}
