{% extends "base.html" %}

{% block extra_head %}
<style>
form#login-form { width: 25em; margin: 0 auto; margin-top: 4em; }
form#login-form input { width: 100%; padding: 8px; }
</style>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <p>Vous êtes déjà connecté en tant que {{ user.username }}.</p>
{% else %}
<div id="content-main">
<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    {{ form.username.errors }}
    {{ form.username.label_tag }} {{ form.username }}
  </div>
  <div class="form-row">
    {{ form.password.errors }}
    {{ form.password.label_tag }} {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Se connecter" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endif %}
{% endblock %}
