{% extends "page.html" %}
{% load static disp_utils %}

{% block pagecontent %}
    <table class="agenda">
    {% for item in events %}
        <tr class="item"><td class="date"><a name="item{{ item.pk }}"></a>{{ item|event_date }}</td>
                         <td class="title">{{ item.title }}</td></tr>
        {% if item.description %}<tr><td colspan="2" class="description">{{ item.description|safe }}</tr>{% endif %}
    {% empty %}
        <tr><td><p><i>Aucun événement planifié pour l'instant.</i></p></td></tr>
    {% endfor %}
    </table>
{% endblock %}

{% block footer %}
    {% if user.is_authenticated %}
    <div class="edit-icons">
        <a href="{% url 'page_edit' page.slug %}">&#x270D;</a> (page)<br>
        <a href="{% url 'admin:main_event_changelist' %}">&#x270D;</a> (agenda)
    </div>
    {% endif %}
{% endblock %}
