{% extends "page.html" %}

{% block extra_head %}
<style>
form#contact th { text-align: right; vertical-align: top; padding: 8px; }
form#contact input[type=text],
form#contact input[type=email],
form#contact textarea { width: 100%; }
</style>
{% endblock %}

{% block pagecontent %}
<form id="contact" method="post">
<table>
    {{ form.as_table }}
</table>
<input type="submit" value="Envoyer">
</form>
{% endblock %}
