{% extends "base.html" %}
{% load static disp_utils mptt_tags %}

{% block banner %}
<div id="banner">
  <div>&nbsp;</div>
  <div class="banner_text banner_text_subpages">
    <p style="font-size: 2.5em; margin-top: 0; margin-bottom: 0.3em;">Au pied du Jura...</p>
    <p style="margin: 0.5em 1em 4em 6em; font-size: 1.2em;">... un réseau d'activités au pied du Jura vaudois.</p>
  </div>
  <div><br></div>
</div>
{% endblock %}


{% block content %}
<div id="leftbar">
    <ul id="menu-left">
    {% recursetree pages %}
        <li {% if not node.is_leaf_node %}class="menuparent"{% endif %}>
            {% if node.parent %}<a href="{{ node.get_absolute_url }}">{% endif %}{{ node.get_menu_title }}{% if node.parent %}</a>{% endif %}
            {% if node.level < 1 %}
                <ul class="children">
                    {% if node.slug == 'galerie' %}
                        {% for gal in galleries %}
                        <li><a href="{% url 'gallery' gal.slug %}">{{ gal.title }}</a></li>
                        {% endfor %}
                    {% endif %}
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
    </ul>
</div>

<div id="content">
    {% if can_edit %}<div class="edit_btn"></div>{% endif %}
    <h2>{{ title }}</h2>
    
    <div class="page-content">
      {% block pagecontent %}{% show_content page %}{% endblock %}
      {% for event in passed_events %}
      <div class="event-summary">
          <a href="{{ event.get_absolute_url }}">{{ event.date_long }}</a> {{ event }}
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ block.super }}
    {% if user.is_authenticated %}
    <div class="edit-icons"><a href="{% url 'page_edit' page.slug %}">&#x270D;</a></div>
    {% endif %}
{% endblock %}
