{% extends "page.html" %}
{% load thumbnail %}

{% block extra_head %}{{ block.super }}
<style>
  div.gallery {display: inline-block; width: 33%; text-align: center; vertical-align: top; padding: 1em;}
  div.gallery img { width: 140px; }
</style>
{% endblock %}

{% block page_content %}
    {{ page.content|safe }}
    <div>
        {% for gal in galleries %}
        <div class="gallery">
            <a href="{% url 'gallery' gal.slug %}">
              <img src="{{ gal.photos.first.image|thumbnail_url:'thumbnail' }}"><br>
              {{ gal.title }}
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    {% if user.is_authenticated %}
    <div class="edit-icons">
        <a href="{% url 'page_edit' page.slug %}">&#x270D;</a> (page)<br>
        <a href="{% url 'admin:gallery_gallery_changelist' %}">&#x270D;</a> (galeries)
    </div>
    {% endif %}
{% endblock %}
