{% extends "page.html" %}
{% load static disp_utils %}

{% block pagecontent %}
    <table class="agenda">
        <tr class="item"><td class="date"><a name="item{{ item.pk }}"></a>{{ item|event_date }}</td>
                         <td class="title">{{ item.title }}</td></tr>
        {% if item.description %}<tr><td colspan="2" class="description">{{ item.description|safe }}</tr>{% endif %}
    </table>
{% endblock %}

{% block footer %}
    {% if user.is_authenticated %}
    <div class="edit-icons">
        <a href="{% url 'admin:main_event_change' item.pk %}">&#x270D;</a>
    </div>
    {% endif %}
{% endblock %}
