{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block extra_head %}
  <style>
    input[type=text], textarea { width: 100%; }  
    input#id_title { font-size: 115%; font-weight: bold; }
    textarea#id_content { width: 100%; }
    div.page_content { margin: 1em 0; }
    div.buttons { margin-top: 1em; }
  </style>
  {{ form.media }}
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" method="post" action=".">{% csrf_token %}
    <div class="page_container">
        <h1>{{ form.title }}</h1>
        <div>Titre dans le menu :<br>{{ form.menu_title }}</div>
        <div class="page_content">
            {{ form.content }}
        </div>
        <div class="formset">
            {{ form.formset.management_form }}
            {% for subform in form.formset %}
                <fieldset><div class="formsetEntry">{{ subform.as_p }}</div></fieldset>
            {% endfor %}
        </div>
    </div>
    <div class="buttons">
        <div style="float:right;"><input type="submit" value="Enregistrer"></div>
        <input type="button" value="Annuler" onclick="window.location.href={% url 'page' page.slug %};">
    </div>
    </form>
{% endblock %}

{% block footer %}

{% endblock %}
