{% extends "page.html" %}
{% load thumbnail %}{% load static from staticfiles %}

{% block extra_head %}{{ block.super }}
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.js"></script>
<style>
  div.photo {display: inline-block; width: 15%; text-align: center; padding: 1em;}
  div.photo img {width: 100px;}
</style>
{% endblock %}

{% block pagecontent %}
    <h2>{{ gallery.title }}</h2>
    {% if gallery.description %}<p>{{ gallery.description }}</p>{% endif %}
    <div>
        {% for photo in gallery.photos.all %}
        <div class="photo">
            <a class="photo" data-fancybox="gallery" href="{{ photo.image|thumbnail_url:'gallery' }}">
              <img src="{{ photo.image|thumbnail_url:'thumbnail' }}"><br>
              {{ photo.title }}
            </a>
        </div>
        {% empty %}<p><i>Cette galerie ne contient aucune photo pour l'instant.</i></p>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    {% if user.is_authenticated %}
    <div class="edit-icons">
        <a href="{% url 'admin:gallery_gallery_change' gallery.pk %}">&#x270D;</a> (galerie)
    </div>
    {% endif %}
{% endblock %}
